@import '../fonts';

@mixin menu_btn($width, $height, $marginh, $marginv) {
  width: $width;
  height: $height;
  margin-left: $marginh;
  margin-right: $marginh;
  margin-top: $marginv;
  margin-bottom: $marginv;
  border-style: solid;
  border-width: 1px;
  border-radius: 2vw;
  background-color: white;
  border-color: rgb(225, 225, 225);
  box-shadow: 0.3vw 0.3vw 2vw 0.3vw rgba(0, 0, 0, 0.1);
}

@mixin back_btn($width, $height) {
  width: $width;
  height: $height;
  background-color: rgb(225, 60, 60);
  borderstyle: solid;
  border-color: transparent;
  border-radius: 3vw 0 0 3vw;
  color: white;

  @include customFont(Lato8, 6vw);

  position: fixed;
  top: 80vh;
  right: 0;
  box-shadow: 0.3vw 0.3vw 2vw 0.3vw rgba(0, 0, 0, 0.1);
}

@mixin storePickerBtn($width, $height, $marginh, $marginv) {
  width: $width;
  height: $height;
  margin-left: $marginh;
  margin-right: $marginh;
  margin-top: $marginv;
  margin-bottom: $marginv;
  border-style: solid;
  border-width: 1px;
  border-radius: 2vw;
  background-color: white;
  border-color: rgb(225, 225, 225);
  box-shadow: 0.3vw 0.3vw 2vw 0.3vw rgba(0, 0, 0, 0.1);
}

@mixin alertBg () {
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  height: 100vh;
  width: 100vw;
}

@mixin alertBtn() {
  width: 50vw;
  height: 50vw;
  margin-top: 20vh;
  margin-left: 25vw;
  margin-right: 25vw;
  border-style: solid;
  border-width: 1px;
  border-radius: 2vw;
  background-color: rgb(225, 60, 60);
  color: white;
  border-color: rgb(225, 60, 60);
  box-shadow: 0.3vw 0.3vw 2vw 0.3vw rgba(0, 0, 0, 0.1);

  @include customFont(Lato8, 5vw);

  animation: enterAnimation 0.5s;

  @keyframes enterAnimation {
    0% { transform: translateX(200%); }
    100% { transform: translateX(0%); }
  }
}

@mixin addBtn ($width, $height, $marginh, $marginv) {
  width: $width;
  height: $height;
  margin-left: $marginh;
  margin-right: $marginh;
  margin-top: $marginv;
  margin-bottom: $marginv;
  border-style: solid;
  border-width: 1px;
  border-radius: 2vw;
  background-color: white;
  border-color: rgb(225, 225, 225);
  box-shadow: 0.3vw 0.3vw 2vw 0.3vw rgba(0, 0, 0, 0.1);
}

@mixin upanddowncommon {
  width: 6vw;
  height: 4vw;
  border-style: none;
  margin-left: 6.5vw;
  margin-right: 6.5vw;
}

@mixin upBtn () {
  @include upanddowncommon();

  background: url('../../images/icons/uparrow.svg') no-repeat;
}

@mixin downBtn () {
  @include upanddowncommon();

  background: url('../../images/icons/downarrow.svg') no-repeat;
}

@mixin yesandnoBtn ($left, $right, $width, $height) {
  width: $width;
  height: $height;
  margin-left: $left;
  margin-right: $right;
  border-style: solid;
  border-width: 1px;
  border-radius: 2vw;
  border-color: rgb(225, 225, 225);
  background-color: rgb(225, 60, 60);
  color: white;
  margin-bottom: 5vw;

  @include customFont(Lato3, 6vw);
}

@mixin questionInput($left, $right, $width, $height) {
  width: $width;
  height: $height;
  margin-left: $left;
  margin-right: $right;
  margin-top: 2vw;
  border-style: solid;
  border-width: 0.25vw;
  border-color: transparent transparent rgb(225, 225, 225) transparent;
  text-align: center;

  &:focus {
    outline-width: 0;
  }
}
