@import './modules/buttons.scss';
@import './modules/box.scss';
@import './fonts';

.shopping_cart_container {
  margin: 3vw 3vw 3vw 3vw;
  border-style: solid;
  border-width: 1px;
  border-radius: 2vw;
  background-color: white;
  border-color: rgb(225, 225, 225);
  box-shadow: 0.3vw 0.3vw 2vw 0.3vw rgba(0, 0, 0, 0.1);
}

.cart_header_title {
  @include customFont(Lato3, 12vw);

  margin-left: 5vw;
}

.cart_prod_btn {
  margin: 3vw 3vw 3vw 3vw;
  width: 88vw;
  border-style: solid;
  border-width: 1px;
  border-radius: 2vw;
  background-color: white;
  border-color: rgb(225, 225, 225);
  box-shadow: 0.3vw 0.3vw 2vw 0.3vw rgba(0, 0, 0, 0.1);
  text-align: left;
  padding-left: 5vw;
  padding-bottom: 0;
}

.cart_prod_btn_title {
  @include customFont(Lato3, 9vw);
  margin-bottom: 1vw;
  margin-top: 3vw;
  border-style: solid;
  border-width: 0.5;
  border-color:rgba(0, 0, 0, 0.1);
  border-bottom-color: transparent;
  border-radius: 4vw 4vw 0vw 0vw;
  padding-left: 3vw;
  padding-top: 2vw;
  height: 12vw;
}

.cart_prod_btn_item {
  @include customFont(Lato3, 7vw);
  margin-left: 2vw;
  margin-bottom: 1vw;
  margin-top: 4vw;
}

.cart_prod_btn_sub_item {
  @include customFont(Lato3, 5vw);
  margin-left: 4vw;
  margin-bottom: 1vw;
  margin-top: 0vw;
}

.cart_prod_btn_footer {
  @include flexbox(row);

  height: 15vw;
  margin-top: 8vw;
}

.cart_prod_btn_modify {
  text-align: center;
  @include customFont(Lato3, 6vw);
  color: white;
  width: 25vw;
  height: 8vw;
  margin-left: 0;
  margin-top: 2vw;
  background-color: rgba(255, 89, 0, 0.713);
  border-radius: 2vw;
}

.cart_prod_btn_price {
  @include customFont(Lato6, 9vw);

  width: 40vw;
  margin-left: 5vw;
  margin-top: 0;
}

.shopping_cart_total_title {
  @include customFont(Lato3, 6vw);

  width: 40vw;
  margin-left: 5vw;
}

.shopping_cart_total_price {
  @include customFont(Lato6, 9vw);

  width: 40vw;
  margin-left: 5vw;
}

.shopping_cart_first_send_btn {
  margin-left: 15vw;
  margin-top: 5vw;
  margin-bottom: 10vw;
  width: 60vw;
  height: 14vw;
  border-style: solid;
  border-width: 1px;
  border-radius: 2vw;
  border-color: rgb(225, 225, 225);
  background-color: rgb(225, 60, 60);
  color: white;

  @include customFont(Lato1, 6vw);

  box-shadow: 0.3vw 0.3vw 2vw 0.3vw rgba(0, 0, 0, 0.1);
}
.clear_prod_btn {
  background-color: rgb(225, 60, 60);
  @include customFont(Lato3, 6vw);
  color: white;
  width: 25vw;
  height: 11.5vw;
  margin-left: 5vw;
  margin-top: -3.1vw;
  border-style: solid;
  border-width: 1px;
  border-radius: 0vw 0vw 2vw 2vw;
  border-color: transparent;
}
.go_to_send_btn {
  position: fixed;
  top: 20vh;
  right: -16vw;
  border-style: solid;
  border-width: 1px;
  border-radius: 2vw 2vw 0vw 0vw;
  border-color: transparent;
  background-color: rgb(225, 60, 60);
  @include customFont(Lato3, 6vw);
  color: white;
  transform: rotate(270deg);
}
.keep_buying_btn {
  position: fixed;
  top: 50vh;
  right: -21.7vw;
  border-style: solid;
  border-width: 1px;
  border-radius: 2vw 2vw 0vw 0vw;
  border-color: transparent;
  background-color: rgb(126, 223, 126);
  @include customFont(Lato3, 6vw);
  color: white;
  transform: rotate(270deg);
}
// ----------------- nothing to show styles ----------
.nothing_in_cart_container {
    border-style: solid;
    border-width: 1px;
    border-radius: 2vw 2vw 0vw 0vw;
    border-color: transparent;
    margin-left: 10vw;
    width: 60vw;
}
.nothing_in_cart_container a {
  text-decoration: none;
}
.nothing_in_cart_title {
    text-align: center;
    @include customFont(Lato3, 6vw);
    color: black;
    margin-left: -3vw;
    width: 80vw;
}
.nothing_in_cart_image {

}
// ----------------picker generals --------------------
.question_frame {
  margin-left: 5vw;
  margin-top: 15vw;
  margin-bottom: 10vw;
  width: 83vw;
  border-style: solid;
  border-width: 1px;
  border-radius: 2vw;
  border-color: rgb(225, 225, 225);
  box-shadow: 0.3vw 0.3vw 2vw 0.3vw rgba(0, 0, 0, 0.1);
  padding: 3vw;
}

.question_title {
  text-align: center;

  @include customFont(Lato3, 6vw);
}

.yes_no_btn {
  @include yesandnoBtn(9.5vw, 3vw, 25vw, 10vw);
  @include customFont(Lato3, 5vw);
}

.accept_btn {
  @include yesandnoBtn(27vw, 8vw, 30vw, 10vw);
}

.question_input {
  @include questionInput(5.5vw, 3vw,70vw, 10vw);
  @include customFont(Lato6, 6vw);
}
// ------------------ Address Picker ------------
.address_text_area {
  @include questionInput(5.5vw, 3vw,70vw, fit-content);
  @include customFont(Lato6, 6vw);
}

.address_input {
  @include questionInput(5.5vw, 3vw,70vw, 15vw);
  @include customFont(Lato6, 6vw);
}

.suggestion_list {
  @include customFont(Lato6, 6vw);
}
// --------------- Payment Picker --------------
.payment_section_container {
  text-align: center;
  margin-left: 5vw;
  margin-top: 15vw;
  margin-bottom: 10vw;
  height: 120vw;
  width: 83vw;
  border-style: solid;
  border-width: 1px;
  border-radius: 2vw;
  border-color: rgb(225, 225, 225);
  box-shadow: 0.3vw 0.3vw 2vw 0.3vw rgba(0, 0, 0, 0.1);
  padding: 3vw;
}

.payment_title {
  @include customFont(Lato3, 6vw);

  margin-bottom: 10vw;
}

.payment_btn {
  float: left;
  width: 37vw;
  height: 20vw;
  margin-left: 2vw;
  margin-right: 2vw;
  border-style: solid;
  border-width: 1px;
  border-radius: 2vw;
  border-color: rgb(225, 225, 225);
  background-color: rgb(225, 60, 60);
  color: white;
  margin-bottom: 5vw;

  @include customFont(Lato3, 5vw);
}

