@import "./modules/box";
@import "./modules/locations";
@import "./modules/transitions";

@font-face {
  font-family: 'Cocogoose3';
  src: url('./fonts/Cocogoose_Pro_Light-trial.ttf');
}

@font-face {
  font-family: 'Lato4';
  src: url('./fonts/Lato-BoldItalic.ttf');
}

.home_main_container {
  width: 96vw;
  margin-left: 2vw;

  @include fade-enter;
}

.home_title {
  font-family: Cocogoose3, serif;
  font-size: 25px;
}

.home_parraph {
  font-family: Lato4, serif;
  font-size: 15px;
}
