@import './modules/box';
@import './fonts';

html {
  scroll-behavior: smooth;
}

body {
  user-select: none;
  margin: 0;
}

$breakpoint-tablet: 768px;

@media (max-width: $breakpoint-tablet) {
  .page_holder {
    width: 100vw;

    @include flexbox(column);
  }

  .navigator_bar {
    width: 100vw;
    height: 15vw;

    @include flexbox(row);
    z-index: 1;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.2) 0%, rgba(255,255,255,0) 100%);
  }

  .nav_item {
    user-select: none;
    width:22vw;
    margin-left: 8.5vw;
    height: 7vw;
    text-align: center;
    margin-top: 5vw;
    padding-top: 2vw;
    text-decoration: none;
    @include customFont(Lato1, 4vw);
    color: rgba(0, 0, 0, 0.8);
    border-style: solid;
    border-width: 2px;
    border-color: rgba(0, 0, 0, 0.8);
    border-radius: 2vw;
    background-color: white;
  }

  .selected_nav_item {
    user-select: none;
    background-color: white;
    width: 22vw;
    margin-left: 8.5vw;
    height: 7vw;
    text-align: center;
    margin-top: 5vw;
    animation: navimgincrease 0.2s;
    text-decoration: none;
    transform: scale(1.3);
    @include customFont(Lato1, 4vw);
    color: white;
    border-style: solid;
    border-width: 1.5px;
    border-color: rgba(0, 0, 0, 0.8);
    border-radius: 2vw;
    box-shadow: 0.3vw 0.3vw 2vw 0.3vw rgba(0, 0, 0, 0.5);
    background-color: rgba(181, 0, 0, 1)
  }


  @keyframes navimgincrease {
    0% {
      margin-top: 3vw;
      transform: scale(1)
    }

    100% {
      margin-top: 5vw;
      transform: scale(1.3)
    }
  }
  // ----- Loading screen ------

  .loading_screen {
    text-align: center;
    width: 100vw;
    height: 150vw;
    padding-top: 50vw;

    @include customFont(Lato1, 5vw);

    animation: loadinganim 1s infinite;
  }

  @keyframes loadinganim {
    0% { transform: scale(1); }
    40% { transform: scale(1.2); }
    50% { transform: scale(1); }
    60% { transform: scale(1.2); }
    100% { transform: scale(1); }
  }
}

$breakpoint-tablet: 769px;

@media (min-width: $breakpoint-tablet) {

}
