.store_main_container {
    position: absolute;
    width: 100vw;
    height: 100vw;
    background-color: rgb(128, 128, 197);
}
.store_secondary_container {
    position: float;
    width: 100vw;
    height: 100vw;
    background-color: rgb(197, 161, 128);
    top: -100vw;
}
.store_picker_container {
    
}